.searchbar {
  width: 30vw;
  min-width: 16vw;
  background: #f2f1f9;
  border: 1px;
  border-style: solid;
  border-radius: 0.2vw;
  padding: 0.5rem;
  float: left;
  margin: 2vw 0vw 2vw 0vw;
}
.searbardiv {
    text-align: center;
    margin-left: 30vw;
}


@media screen and (min-width: 768px) {

    .searchbar {
        width: 16vw;
        min-width: 16vw;
        background: #f2f1f9;
        border: 1px;
        border-style: solid;
        border-radius: 0.2vw;
        padding: 0.5rem;
        float: left;
        margin: 2vw 0vw 2vw 0vw;
    }

    .searbardiv {
        text-align: center;
        margin-left: 23vw;
    }
}